@{
    ViewBag.Title = "MyCenterUserManagement";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/easyui/themes/icon.css">
<script type="text/javascript" src="~/easyui/jquery.min.js"></script>
<script src="~/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/easyui/locale/easyui-lang-zh_CN.js"></script>

<link href="~/Content/table.css" rel="stylesheet" />
@*<link href="~/Content/css/task.css" rel="stylesheet" />*@
<link href="~/content/css/headfoot.css" rel="stylesheet" />
<script src="~/Scripts/mycommon.js"></script>
<script>
    $(function () {
        $("#my_commitpro_user").click(function () {

           // alert($("#my_objcombobox").combobox("getValue"));
            my_LoadDataGridview();
        });
      
    });
    function my_LoadDataGridview() {
        var obj = {};
     //obj.objid = $("#my_objcombobox").combobox("getValue");
        obj.userid = $("#my_useridtext").textbox("getValue");

        $("#my_datagriduser").datagrid({
            // url: '/ShowOutPut/GetCenteroutputTJ',
            url: '/management/my_LoadUserGridview',

            queryParams: obj,//, casekey: "yd", wherestr: wherestr
            rownumbers: true,
            pagination: true,
            pageList:[20,30,80,100,200],
            pageSize: 20, //页大小
            striped: true, //行背景交换
            //border: false,
            fitColumns: true,
            columns: [[

                { field: 'Userid', title: '帐号', width: 100 },
                //{ field: 'encode', title: 'encode', width: 100 },
                { field: 'Username', title: '名称', width: 100, editor: { type: 'validatebox', options: { required: true, validType: 'length[4,20]' } } },
                //{ field: 'lv', title: '上传量', width: 100 }
                //, { field: 'integral', title: '日期', width: 100 },
                { field: 'Userpwd', title: '密码', width: 100, editor: { type: 'validatebox', options: { required: true, validType: 'pwd' } } },
                { field: 'Groupname', title: '分组', width: 100 },
                 // { field: 'state', title: '可用', width: 100, editor: { type: 'checkbox', options: { on: '√', off: '×' } } },
             
                 {
                     field: 'opt', title: '操作', width: 100, align: 'center',
                     formatter: function (value, row,index) {
                         var btn = "<a class='editcls' onclick=\"my_editRow(" + index + ")\" href='javascript:void(0)'>编辑</a>";
                         btn += "&nbsp;&nbsp;&nbsp;&nbsp;<a class='editcls' onclick=\"my_saveRow(" + index + ")\" href='javascript:void(0)'>保存</a>"
                         return btn;
                     }
                 }
            ]],
            onLoadError: function (data) {
                alert("cw")
            }
              , onLoadSuccess: function (data) {
                 // compute();
              }
        });
    }
 function my_editRow(index) {
     $('#my_datagriduser').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
 }
 function my_saveRow(index) {
     if ($('#my_datagriduser').datagrid('validateRow', index)) {
         var row = $('#my_datagriduser').datagrid('getRows')[index];

         $('#my_datagriduser').datagrid('endEdit', index);

         if (row.state == "×") {
             row.state = 1;
         } else {
             row.state = 0;
         }
         $.post("/management/UpdateUser", row, function (data) {
             //alert(data);
             if ("False"==data) {
                 alert("修改失败");
             }
         });
     }
 }

</script>
<div class="container" >
    <div style="padding:5px"></div>

    <ul class="chaxun">


        @*<li>选择中心:<input id="my_objcombobox" class="easyui-combobox" data-options="valueField:'id',editable:false,textField:'text',url:'/common/GetObjectCombobox'" /></li>*@
        <li>用户帐号:<input id="my_useridtext" class="easyui-textbox" value="" /></li>
        <li><input type="button" value="查询" id="my_commitpro_user" class="button_chaxun"></li>
    </ul>
    <div style="margin:0px 50px auto;  ">
        <!--<div id="magazineGrid"></div>-->
        <div style="min-height:300px;">
            <div id="my_datagriduser"> </div>
        </div>
    </div>
    <!--创建一个遮罩-->
    @*<div id="maskpro_user" class="maskpro_user"><div class="gif"><img src="/img/wait.gif"></div></div>*@
</div>