@{
    ViewBag.Title = "公告";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/announcement.css" rel="stylesheet" />
<div class="background">
    <div class="div_center">
        <div class="head_time_inform">
            <span id="time">9月13</span>
            <h3>公告</h3>
        </div>

        <ul class="inform">
            <li><a href="#">[置顶公告]</a></li>
            <li><a href="#">[置顶公告]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
            <li><a href="#">[公告通知]</a></li>
        </ul>
        <ul class="inform_2">
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
            <li><a href="#">本周六、日(9月10-11日)任务预报。[2016-09-13]</a></li>
            <li><a href="#">大政任务的酬劳标准和支付方式。</a></li>
            <li><a href="#">大政任务新、旧网站依旧并行。</a></li>
        </ul>
        <ul class="number">
            <a href="#"><li><</li></a>
            <a href="#"><li>1</li></a>
            <a href="#"><li>2</li></a>
            <a href="#"><li>3</li></a>
            <a href="#"><li>4</li></a>
            <a href="#"><li>5</li></a>
            <a href="#"><li>></li></a>
        </ul>
    </div>
</div>