


.content{width: 1000px; margin: 0 auto; margin-top: 40px; }
.content_bt{ float: left; width: 160px; height: 70px; background: #ff7a03; line-height: 70px; text-align: center; color: #FFFFFF; border-radius: 10px 0 0 10px;}
.content_box{ width: 800px; padding: 20px; height: 550px; background: #FFFFFF; float: left; border-radius: 0px 10px 10px 10px;}
.content_box div{ width: 45%;float: left;}
.angcss{ margin-top: 5px;}
.angcss span{ font-size: 20px;}
.angcss input{ height: 32px; border-radius: 4px; text-indent: 5px; border: 2px solid #ff7a01;}
.chaxun{ width:80px; height: 40px; background: #ff7a03; display: block; float: right; border-radius: 5px;  color: #FFFFFF; text-decoration: none; line-height: 40px; text-align: center;}


