

.box{
	width:1000px;
	height:580px;
	margin:0 auto;
	margin-top:35px;
}
.box_1{
	width:600px;
	height:580px;
	background-color:#ffffff;
	box-shadow: 5px 5px 5px #ccc;
	border-radius:8px;
	float: left;
}
.liebiao{
	display: block;
	width:590px;
	height:30px;
	background-color:#ef5c3a;
	border-radius:8px 8px 0 0;
	color:#ffffff;
	font-size:20px;
	padding:10px 0 10px 10px;
}
.title{
	width:596px;
	height:20px;
	border:2px solid #ccc;
	font-size:15px;
	line-height: 20px;
}
.title li{
	float: left;
}
.title_1{
	margin-left:320px;
}
.title_2{
	margin-left:50px;
}
.Class{
	width:596px;
	height:450px;
	border:2px solid #ccc;
	font-size:14px;
}
.Class li{
	width:596px;
	float: left;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:5px 0 5px 0;
	color:#ff4900;	
}
.blue{
	color:#3899fa;
}
.black{
	color:#242424;
	margin-left:270px;
}
.right{
	margin-left:50px;
}
.number{
	width:175px;
	height:30px;
	margin:0 auto;
	margin-top:15px;
}

.number ul li{
	width:23px;
	height:23px;
	float: left;
	color:#ffffff;
	border:1px solid #ccc;
	border-radius:2px;
	color:#3899fa;
	text-align: center;
	font-size:14px;
}
.box_2{
	width:263px;
	height:355px;
	background-color: #ffffff;
	float: left;
	border-radius:8px;
	margin-left:55px;
}
.new{
	width:253px;
	height:30px;
	color:#3963b7;
	font-size:16px;
	background-color:#edeef0;
	border-radius: 8px 8px 0 0;
	line-height: 30px;
	padding-left:10px;
}
.box_2 ul li{
	float: left;
	font-size:13px;
	line-height: 22px;
	border-bottom:1px dashed #ccc;
}
.bold{
	font-weight: bold;
}
.box_2 ul li span{
	margin-left:20px;
	color:#19731b;
}



