




.box{
	width:900px;
	height:542px;
	background:#ffffff;
	margin:0 auto;
	margin-top:50px;
	box-shadow: 5px 5px 5px #ccc;
}
.box_left{
	width:250px;
	height:542px;
	float:left;
}
.box_right{
	width:650px;
	height:542px;
	float:left;
	background-color:#ffffff;
}
.help{
	width:240px;
	height:50px;
	background-color:#57576f;
	color:#ffffff;
	font-size:20px;
	line-height: 50px;
	padding-left:10px;
	float:left;
}
.help_1{
	width:246px;
	color:#3899fa;
	line-height: 40px;
	font-size:14px;
	border-left:2px solid #66666d;
	border-bottom:2px solid #66666d;
	border-right:2px solid #66666d;
}
.help_1 li{
	border-bottom:1px dashed #a0d0ff;
	padding:4px 0 0 20px;
}
.help_1 li span{
	float:right;
	padding-right:5px;
}
.help_2{
	width:300px;
	color:#3899fa;
	font-size:20px;
	padding:20px 20px 20px 0;
	margin-left:20px;
	border-bottom:2px solid #ccc;
}
.help_3{
	color:#ffffff;
	font-size:16px;
	padding:50px;
	background-color:#3899fa;

}
/*ÖÐ¼ä ÄÚÈÝ*/

