

.button_chaxun{
       width: 85px;
    height: 30px;
    background-image: url(../images/chaxun_2.png);
   
    background-repeat: no-repeat;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
}
.chaxun{
        width:1475px;
        height:50px;
        color:#666666;
        margin:0 auto;
        margin-top:15px;
}
.chaxun li{
        float:left;
        margin-left:60px;
}

.table{
        width:1460px;
        height:630px;
        margin:0 auto;
        background-color:#ffffff;
}
.tb{
        border-color:#7d8fa7;
        color:#326ccc;
        border-left:none;

}
.bt_2{
        background-color:#d5dce4;
}
.tb tr th{
        color:#ffffff;
        padding:7px;
        background-color:#44546b;
        font-size:16px;
        text-align: center;
        border-color:#8496ae;
}
td{
        border-color:#8496ae; 
}
.daochu{
        width:53px;
        height:28px;
        background-image:url(../images/chaxun.png);
        background-repeat:no-repeat;
        border:none;
        color:#ffffff;
        font-weight: bolder;
}
.daochu_no{
        width:53px;
        height:28px;
        background-image: url(../images/chaxun_no.png);
        background-repeat:no-repeat;
        color:#ff0c0c;
        font-size:14px;
        font-weight: bolder;
        text-align: center;
}
.daochu_yes{
        width:53px;
        height:28px;
        background-image: url(../images/chaxun_no.png);
        background-repeat:no-repeat;
        color:#ffffff;
        font-size:14px;
        text-align: center;  
        font-weight: bolder;
}
