@{
    ViewBag.Title = "帮助页";
    //  Layout = null;
    Layout = null;
}

<link href="~/Content/table.css" rel="stylesheet" />
<link href="~/Content/css/task.css" rel="stylesheet" />

<link href="~/Content/css/help.css" rel="stylesheet" />
<div class="box">
    <div class="box_left">
        <div class="help">
            大政任务使用帮助
        </div>
        <ul class="help_1">
            <li>一、大政任务是什么？<span>>></span></li>
            <li>二、怎么参与大政任务<span>>></span></li>
            <li>三、任务技能怎么获得？<span>>></span></li>
            <li>四、怎么接受任务？<span>>></span></li>
            <li>五、任务量有多少？<span>>></span></li>
            <li>六、酬劳怎么得到？<span>>></span></li>
            <li>七、积分是什么？<span>>></span></li>
            <li>八、忘记登录密码怎么办？<span>>></span></li>
            <li>九、关于填写支付宝？<span>>></span></li>
            <li>十、怎么工作？<span>>></span></li>
            <li style="border:none;">十一、关于大正任务<span>>></span></li>
        </ul>
    </div>
    <div class="box_right">
        <div class="help_2">
            大政任务是什么？
        </div>
        <div class="help_3">
            大政任务是在大家闲暇时候，打开浏览器，通过互联网就可以做的任务。
        </div>
    </div>

</div>