@{
    ViewBag.Title = "本中心上传单量";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/easyui/themes/icon.css">
<script type="text/javascript" src="~/easyui/jquery.min.js"></script>
<script src="~/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/easyui/locale/easyui-lang-zh_CN.js"></script>

<link href="~/Content/table.css" rel="stylesheet" />
@*<link href="~/Content/css/task.css" rel="stylesheet" />*@
<link href="~/content/css/headfoot.css" rel="stylesheet" />
<script src="~/Scripts/mycommon.js"></script>
<style type="text/css">
    /*body {
            background: url(img/bg.png) top center no-repeat;
            background-size: 100%  auto;
        }*/
    .maskmy_cbarcode {
        position: absolute;
        top: 0px;
        filter: alpha(opacity=60);
        background-color: #777;
        z-index: 1002;
        left: 0px;
        opacity: 0.5;
    }

    .container {
        text-align: center;
    }

    .gif {
        text-align: center;
        vertical-align: middle;
        opacity: 1;
    }

    .right {
        float: right;
        text-align: right;
    }

    .bor img {
        display: block;
        width: auto;
        max-width: 100%;
    }

    #gridview {
        width: 100%;
        min-height: 500px;
    }
</style>

<div class="container">
    <div style="padding:5px"></div>

    <ul class="chaxun">
        <li><input type="button" value="今日" id="selectTodaybtnmy_cbarcode" class="button_chaxun"></li>
        <li><input type="button" value="昨天" id="selectYesterdaybtnmy_cbarcode" class="button_chaxun"></li>

        <li>开始日期:<input id="startmy_cbarcode" class="easyui-datebox" editable="false"></li>
        <li>
            结束日期:  <input id="endmy_cbarcode" class="easyui-datebox" editable="false">
        </li>

        <li><input type="button" value="单量查询" id="commitbarnum" class="button_chaxun"></li>
    </ul>
    <div style="margin:0px 50px auto;  ">
        <!--<div id="magazineGrid"></div>-->
        <div style="min-height:300px;">
            <div id="datagridmy_cbarcode"> </div>
        </div>
    </div>
    <!--创建一个遮罩-->
    <div id="maskmy_cbarcode" class="maskmy_cbarcode"><div class="gif"><img src="/img/wait.gif"></div></div>
</div>
<script type="text/javascript">
    var array = {};
    var interval; //调度器对象。
    var canpost = "true" //默认可以提交
    var startmy_cbarcode; //开始时间
    var endmy_cbarcode; //结束时间
    var DATE_FORMAT = /^[0-9]{4}-[0-1]?[0-9]{2}-[0-3]?[0-9]{2}$/; //用于判断日期格式是否正确
    //获取窗口百分比的长度
    function fixWidth(percent) {
        return document.body.clientWidth * percent; //这里你可以自己做调整
    }
    function fixHeight(percent) {
        return document.documentElement.clientHeight * percent; //这里你可以自己做调整
    }
    //检验日期格式是否正确
    function checkdate(thedate) {
        if (DATE_FORMAT.test(thedate)) {
            // alert("您输入的日期格式正确");
            return "true";
        } else {
            alert("抱歉，您输入的日期格式有误，正确格式应为 2016-01-01");
            return "false";
        }
    }

    $(function () {
        //兼容火狐、IE8
        //显示遮罩层
        function showMask() {
            $("#maskmy_cbarcode").css("height", $(document).height());
            $("#maskmy_cbarcode").css("width", $(document).width());
            $("#maskmy_cbarcode").show();
        }
        //隐藏遮罩层
        function hideMask() {
            $("#maskmy_cbarcode").hide();
        }
        //默认加载页面隐藏遮罩层
        $("#maskmy_cbarcode").hide();


        // 禁止F5刷新
        $(document).bind("keydown", function (e) {
            e = window.event || e;
            if (e.keyCode == 116) {
                // alert("禁止F5刷新");
                e.keyCode = 0;
                return false;
            }
        });
        $("#selectTodaybtnmy_cbarcode").click(function () {

            $("#startmy_cbarcode").datebox("setValue", datenowstr());
            $("#endmy_cbarcode").datebox("setValue", datenowstr());
            GetGridata();
        });
        $("#selectYesterdaybtnmy_cbarcode").click(function () {

            $("#startmy_cbarcode").datebox("setValue", dateaddstr(-1));
            $("#endmy_cbarcode").datebox("setValue", dateaddstr(-1));
            GetGridata();
        });
        //点击按钮提交
        $("#commitbarnum").click(function () {
            GetGridata();
        });

        function GetGridata() {

            //如果两个录入框都有数据
            if (canpost == "false") {
                alert("你查询的速度过快,请喝杯茶稍等片刻再查询...");
            } else {
                //赋予日期变量
                startmy_cbarcode = $('#startmy_cbarcode').datebox('getValue');
                endmy_cbarcode = $('#endmy_cbarcode').datebox('getValue');
                //判断日期格式是否正确
                if (checkdate(startmy_cbarcode) == "true" && checkdate(endmy_cbarcode) == "true") {

                    postdata_centerbarnum(startmy_cbarcode, endmy_cbarcode);
                    canpost = "false";

                }
            }
        }
        //定义计时器间隔
        function timerun() {
            // alert("启用定时器间隔");
            interval = setInterval(timefun, 1000);
        }
        //计时器触发事件
        function timefun() {
            //  alert("定时器已触发");
            canpost = "true";
            clearInterval(interval);
        }

        //默认执行请求
        function postdata_centerbarnum(startmy_cbarcode, endmy_cbarcode, objectid) {

            //隐藏遮罩层
            hideMask();
            //        //设置倒计时,防止刷单
            timerun();
            // var allcount = 0;
            $("#datagridmy_cbarcode").datagrid({
                //url: '/ShowOutPut/GetImage_rc_up',
                url: '/ShowOutPut/CenterBarcodeNum_ems',
                queryParams: { startdate: startmy_cbarcode, enddate: endmy_cbarcode, objectid: objectid },
                fitColumns: true,//"寄件人姓名","寄件人电话","收件人姓名","收件人电话","收件人地址","混合字段","物品重量"
                columns: [[
                  {
                      field: 'id', title: '中心编号', width: 100
                  },
                    { field: 'type1', title: '中心名称', width: 100 }
                    , { field: 'type2', title: '日期', width: 100 },
                     {
                         field: 'type3', title: '单量', width: 100
                     }
                ]],
                onLoadError: function () {
                    alert("cw")
                }
        , onLoadSuccess: function (data) {
            compute();
        }
            });

            function compute() {//计算函数
                var rows = $('#datagridmy_cbarcode').datagrid('getRows')//获取当前的数据行
                var newrow = {
                    type1: "<b>合计</b>",
                    type3: 0

                };
                for (var i = 0; i < rows.length; i++) {

                    newrow.type3 += parseInt(rows[i]['type3']);
                }
                //新增一行显示统计信息
                $('#datagridmy_cbarcode').datagrid('appendRow', newrow);

            }
        }
    });
</script>