@{
    ViewBag.Title = "OrganizMonitor2";
    Layout = "~/Views/Shared/_Layoutnull.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        color: #303030;
        font: normal 12px/24px tahoma,verdana,"宋体";
    }

    .innertab {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: 100%;
    }

    .list_tit td {
        color: #5482B4;
        text-align: center;
        font-weight: bold;
    }

    .innertab td {
        margin: 0;
        padding: 0;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
</style>
<script>
    function GetData() {

        var url = "http://114.215.16.58:8081/Pages/Monitor/MonitorHandler.ashx?key=njorg";
        $.ajax({
            url: url,
            dataType: "jsonp",
            jsonpCallback: "callback",
            success: function (obj) {
                // alert(JSON.stringify(data));
                $("#timestr").html(obj.time);
                var html = "<table class='innertab' cellpadding='0' cellspacing='0'>";
                html += $("#hidhtm").html();
                var sumobj = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ];

                $.each(obj.data, function (i, item) {
                    var innerhtm = "<tr>";
                    innerhtm += "<td>" + item.Project.ProjectName + "</td>";
                    innerhtm += "<td>" + item.DRYL_FNJ1_JR + "</td>";
                    innerhtm += "<td>" + item.DRYL_FNJ2_JR + "</td>";
                    innerhtm += "<td>" + item.DRYL_FNJ3_JR + "</td>";
                    innerhtm += "<td>" + item.FNJ_UploadCount + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ1_YL + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ1_JR + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ2_YL + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ2_JR + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ3_YL + "</td>";
                    innerhtm += "<td>" + item.WL_FNJ3_JR + "</td>";
                    innerhtm += "<td>" + item.FNJ_NeedCount + "</td>";

                    innerhtm += "<td>" + item.DTWC_FNJ1_YL + "</td>";
                    innerhtm += "<td>" + item.DTWC_FNJ1_JR + "</td>";
                    innerhtm += "<td>" + item.DTWC_FNJ2_YL + "</td>";
                    innerhtm += "<td>" + item.DTWC_FNJ2_JR + "</td>";
                    innerhtm += "<td>" + item.DTWC_FNJ3_YL + "</td>";
                    innerhtm += "<td>" + item.DTWC_FNJ3_JR + "</td>";
                    innerhtm += "<td>" + item.FNJ_InputCount + "</td>";

                    innerhtm += "<td>" + item.CS_YL + "</td>";
                    innerhtm += "<td>" + item.CS_DSH + "</td>";
                    innerhtm += "<td>" + item.CS_YSH + "</td>";
                    innerhtm += "</tr>"

                    sumobj[0] += item.DRYL_FNJ1_JR;
                    sumobj[1] += item.DRYL_FNJ2_JR;
                    sumobj[2] += item.DRYL_FNJ3_JR;
                    sumobj[3] += item.FNJ_UploadCount;
                    sumobj[4] += item.WL_FNJ1_YL;
                    sumobj[5] += item.WL_FNJ1_JR;
                    sumobj[6] += item.WL_FNJ2_YL;
                    sumobj[7] += item.WL_FNJ2_JR;
                    sumobj[8] += item.WL_FNJ3_YL;
                    sumobj[9] += item.WL_FNJ3_JR;
                    sumobj[10] += item.FNJ_NeedCount;
                    sumobj[11] += item.DTWC_FNJ1_YL;
                    sumobj[12] += item.DTWC_FNJ1_JR;
                    sumobj[13] += item.DTWC_FNJ2_YL;
                    sumobj[14] += item.DTWC_FNJ2_JR;
                    sumobj[15] += item.DTWC_FNJ3_YL;
                    sumobj[16] += item.DTWC_FNJ3_JR;
                    sumobj[17] += item.FNJ_InputCount;
                    sumobj[18] += item.CS_YL;
                    sumobj[19] += item.CS_DSH;
                    sumobj[20] += item.CS_YSH;

                    html += innerhtm;
                });
                var sumhtm = "<tr><td>合计</td>";
                for (var item in sumobj) {
                    sumhtm += "<td>" + sumobj[item] + "</td>";
                    if (item >= 20) {
                        break;
                    }
                }
                html += sumhtm + "</tr>";
                html += "</table>";
                $('.maitab').html(html);
            },
            error: function (d, b) {
                alert(d + b);
            }

        });
    }
    $(function () {
        GetData();
    });
</script>
<table id="hidhtm" style="display:none;">
    <thead>
        <tr class="list_tit">
            <td align="center" rowspan="3">
                项目
            </td>
            <td align="center" colspan="4">
                上传单量
            </td>
            <td align="center" colspan="7">
                待录单量
            </td>
            <td align="center" colspan="7">
                当天录单完成量
            </td>
            <td align="center" colspan="3">
                重扫量
            </td>
        </tr>
        <tr class="list_tit">
            <td align="center" rowspan="2">非南京一频</td>
            <td align="center" rowspan="2">非南京二频</td>
            <td align="center" rowspan="2">非南京三频</td>
            <td align="center" rowspan="2">合计</td>

            <td align="center" colspan="2">非南京一频</td>
            <td align="center" colspan="2">非南京二频</td>
            <td align="center" colspan="2">非南京三频</td>
            <td align="center" rowspan="2">合计</td>

            <td align="center" colspan="2">非南京一频</td>
            <td align="center" colspan="2">非南京二频</td>
            <td align="center" colspan="2">非南京三频</td>
            <td align="center" rowspan="2">合计</td>

            <td align="center" rowspan="2">遗留</td>
            <td align="center" rowspan="2">待审核</td>
            <td align="center" rowspan="2">已审核</td>
        </tr>
        <tr>
            <td align="center">遗留</td>
            <td align="center">今日</td>
            <td align="center">遗留</td>
            <td align="center">今日</td>
            <td align="center">遗留</td>
            <td align="center">今日</td>

            <td align="center">遗留</td>
            <td align="center">今日</td>
            <td align="center">遗留</td>
            <td align="center">今日</td>
            <td align="center">遗留</td>
            <td align="center">今日</td>
        </tr>
    </thead>
</table>
<div style=" text-align:right;height:30px; line-height:30px; font-size:14px; padding:0 15px;"><span>数据更新时间：</span><span id="timestr"></span></div>
<div class="maitab"></div>