@{
    ViewBag.Title = "OutPutAnalysis_ems";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="~/easyui/themes/icon.css">
<script type="text/javascript" src="~/easyui/jquery.min.js"></script>
<script src="~/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/easyui/locale/easyui-lang-zh_CN.js"></script>

<link href="~/Content/table.css" rel="stylesheet" />
@*<link href="~/Content/css/task.css" rel="stylesheet" />*@
<link href="~/content/css/headfoot.css" rel="stylesheet" />
<script src="~/Scripts/mycommon.js"></script>
<style type="text/css">
    /*body {
            background: url(img/bg.png) top center no-repeat;
            background-size: 100%  auto;
        }*/
    .maskself_ems {
        position: absolute;
        top: 0px;
        filter: alpha(opacity=60);
        background-color: #777;
        z-index: 1002;
        left: 0px;
        opacity: 0.5;
    }

    .container {
        text-align: center;
    }

    .gif {
        text-align: center;
        vertical-align: middle;
        opacity: 1;
    }

    .right {
        float: right;
        text-align: right;
    }

    .bor img {
        display: block;
        width: auto;
        max-width: 100%;
    }

    #gridview {
        width: 100%;
        min-height: 500px;
    }
</style>

<div class="container">
    <div style="padding:5px"></div>

    <ul class="chaxun">
        <li><input type="button" value="今日" id="selectTodaybtnself_ems" class="button_chaxun"></li>
        <li><input type="button" value="昨天" id="selectYesterdaybtnself_ems" class="button_chaxun"></li>
        
        <li>开始日期:<input id="startself_ems" class="easyui-datebox" editable="false"></li>
        <li>
            结束日期:  <input id="endself_ems" class="easyui-datebox" editable="false">
        </li>
        <li><input type="button" value="查询" id="commitself_ems" class="button_chaxun"></li>
    </ul>
    <div style="margin:0px 50px auto;  ">
        <!--<div id="magazineGrid"></div>-->
        <div style="min-height:300px;">
            <div id="datagridself_ems"> </div>
        </div>
    </div>
    <!--创建一个遮罩-->
    <div id="maskself_ems" class="maskself_ems"><div class="gif"><img src="/img/wait.gif"></div></div>
</div>
<script type="text/javascript">
    var array = {};
    var interval; //调度器对象。
    var canpost = "true" //默认可以提交
    var startself_ems; //开始时间
    var endself_ems; //结束时间
    var DATE_FORMAT = /^[0-9]{4}-[0-1]?[0-9]{2}-[0-3]?[0-9]{2}$/; //用于判断日期格式是否正确
    //获取窗口百分比的长度
    function fixWidth(percent) {
        return document.body.clientWidth * percent; //这里你可以自己做调整
    }
    function fixHeight(percent) {
        return document.documentElement.clientHeight * percent; //这里你可以自己做调整
    }
    //检验日期格式是否正确
    function checkdate(thedate) {
        if (DATE_FORMAT.test(thedate)) {
            // alert("您输入的日期格式正确");
            return "true";
        } else {
            alert("抱歉，您输入的日期格式有误，正确格式应为 2016-01-01");
            return "false";
        }
    }

    $(function () {
        //兼容火狐、IE8
        //显示遮罩层
        function showMask() {
            $("#maskself_ems").css("height", $(document).height());
            $("#maskself_ems").css("width", $(document).width());
            $("#maskself_ems").show();
        }
        //隐藏遮罩层
        function hideMask() {
            $("#maskself_ems").hide();
        }
        //默认加载页面隐藏遮罩层
        $("#maskself_ems").hide();


        // 禁止F5刷新
        $(document).bind("keydown", function (e) {
            e = window.event || e;
            if (e.keyCode == 116) {
                // alert("禁止F5刷新");
                e.keyCode = 0;
                return false;
            }
        });
        $("#selectTodaybtnself_ems").click(function () {
           
            $("#startself_ems").datebox("setValue", datenowstr());
            $("#endself_ems").datebox("setValue", datenowstr());
            GetGridata();
        });
        $("#selectYesterdaybtnself_ems").click(function () {
            

            $("#startself_ems").datebox("setValue", dateaddstr(-1));
            $("#endself_ems").datebox("setValue", dateaddstr(-1));
            GetGridata();
        });
        //点击按钮提交
        $("#commitself_ems").click(function () {
            GetGridata();
        });
        function GetGridata() {

            //如果两个录入框都有数据
            if (canpost == "false") {
                alert("你查询的速度过快,请喝杯茶稍等片刻再查询...");
            } else {
                //赋予日期变量
                startself_ems = $('#startself_ems').datebox('getValue');
                endself_ems = $('#endself_ems').datebox('getValue');
                //判断日期格式是否正确
                if (checkdate(startself_ems) == "true" && checkdate(endself_ems) == "true") {
                    postdata_users(startself_ems, endself_ems);
                    canpost = "false"; postdata_users
                }
            }
        }
        //定义计时器间隔
        function timerun() {
            // alert("启用定时器间隔");
            interval = setInterval(timefun, 1000);
        }
        //计时器触发事件
        function timefun() {
            //  alert("定时器已触发");
            canpost = "true";
            clearInterval(interval);
        }

        function postdata_users(startself_ems, endself_ems) {
            //alert(1)
            //$.post("/ShowOutPut/GetImage_rc_up", { startdate: startself_ems, enddate: endself_ems ,casekey:"yd"}, function (data) {

            //},'json');
            //隐藏遮罩层
            hideMask();
            //        //设置倒计时,防止刷单
            timerun();
            // var allcount = 0;
            $("#datagridself_ems").datagrid({
                //url: '/ShowOutPut/GetImage_rc_up',
                url: '/ShowOutPut/OutPutAnalysis_emsTJ',
                queryParams: { startdate: startself_ems, enddate: endself_ems },
                fitColumns: true,
                columns: [[
                  { field: 'id', title: '工号', width: 90, align: "center" },
                   { field: 'datestr', title: '工号', width: 90, align: "center" },
                    { field: 'type1', title: '寄件人姓名', width: 90, align: "center" }
                    , { field: 'type2', title: '寄件人电话', width: 90, align: "center" },
                     {
                         field: 'type3', title: '收件人姓名', width: 90, align: "center"
                     },
                    { field: 'type4', title: '收件人电话', width: 90, align: "center" },
                    { field: 'type5', title: '收件人地址', width: 90, align: "center" },
                    //{ field: 'type6', title: '混合字段', width: 90 },
                    { field: 'type7', title: '物品重量', width: 90, align: "center" },
                     { field: 'sum', title: '录入合计', width: 90, align: "center" },
                { field: 'checknum', title: '检查数量', width: 90, align: "center" },
              { field: 'checkerrnum', title: '检查更正数量', width: 90, align: "center" }
              , { field: 'errnum', title: '错误数量', width: 90, align: "center" }
               , { field: 'backnum', title: '退回量', width: 90, align: "center" }
                  , { field: 'jifeng', title: '积分', width: 90, align: "center" }
                ]],
                onLoadError: function () {
                    alert("cw")
                }
                , onLoadSuccess: function (data) {
                    compute();
                }
            });

            function compute() {//计算函数
                var rows = $('#datagridself_ems').datagrid('getRows')//获取当前的数据行
                if (rows.length > 1) {
                    var countarry = {};
                    countarry.datestr = '<b>统计</b>';
                    countarry.type1 = 0;
                    countarry.type2 = 0;
                    countarry.type3 = 0;
                    countarry.type4 = 0;
                    countarry.type5 = 0;
                    countarry.type6 = 0;
                    countarry.type7 = 0;
                    countarry.sum = 0;
                    countarry.checknum = 0;
                    countarry.checkerrnum = 0;
                    countarry.errnum = 0;
                    countarry.backnum = 0;
                    var allcount = 0;
                    // var allcount1 = 0;
                    for (var i = 0; i < rows.length; i++) {
                         countarry.type1  += parseInt(rows[i]['type1']);
                         countarry.type2 += parseInt(rows[i]['type2']);
                         countarry.type3 += parseInt(rows[i]['type3']);
                         countarry.type4 += parseInt(rows[i]['type4']);
                         countarry.type5 += parseInt(rows[i]['type5']);
                         countarry.type6 += parseInt(rows[i]['type6']);
                         countarry.type7 += parseInt(rows[i]['type7']);
                         countarry.sum += parseInt(rows[i]['sum']);
                         countarry.checknum += parseInt(rows[i]['checknum']);
                         countarry.checkerrnum += parseInt(rows[i]['checkerrnum']);
                         countarry.errnum += parseInt(rows[i]['errnum']);
                         countarry.backnum += parseInt(rows[i]['backnum']);
                    }
                    //新增一行显示统计信息
                    $('#datagridself_ems').datagrid('appendRow', countarry);// { datestr: '<b>统计</b>', count1: allcount }
                }
            }

        }
        //默认执行请求
        // postdata_users();
    });
</script>