@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/user.css" rel="stylesheet" />
<div class="box">
    <div class="user_img">
        <img src="./images/user2.png" alt="">
        <ul class="user_name">
            <li>用户名</li>
            <li>账号</li>
        </ul>
        <ul class="user_message">
            <li>>>账号验证<<</li>
            <li>>>支付信息<<</li>
            <li>>>账号安全<<</li>
            <li>>>个人信息<<</li>
            <li><a href="/user/loginout">>>退出登录<<</a></li>
        </ul>
    </div>
    <div class="box_1">

    </div>
</div>
